<!doctype html>
<html lang="en">
<head>
    {{ include('head.twig') }}
</head>
<body>
{{ include('header.twig') }}
<div class="container">
    {{ include('tasks/taskList.twig') }}
</div>
{{ include('footer.twig') }}
</body>
</html>